[Desktop Entry]
Type=Application
Name=Lightmorphic Browser
Comment=Privacy-first browser built on Chromium
Exec=AppRun %U
Icon=lightmorphic-browser
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=lightmorphic-browser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-AppImage-Version=0.02
